<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Instacart Data Analysis prediction </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-image: url(https://i.redd.it/0nxq6814qnr41.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;

}
li{color:green}
</style>   

<ul>
    {% for i in data: %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<a href='/'> Back</a>